<section class="resume-section" id="experience">
  <div class="resume-section-content">
    <h2 class="mb-5">Experiências</h2>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="flex-grow-1">
        <h3 class="mb-0">Software Engineer</h3>
        <div class="subheading mb-3">Seges Tecnologia</div>
        <p>Modelando e construíndo soluções para vários seguimentos dentre eles, monitoramento, manutenção preventiva e
          medição de produtividade de máquinas pesadas. Implantando uma plataforma com modelo de gestão próprio, com
          foco
          comercial em empresas do ramo de transporte e minério.</p>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">Janeiro 2018 - Atual</span></div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="flex-grow-1">
        <h3 class="mb-0">Monitor Acadêmico</h3>
        <div class="subheading mb-3">Facimp Wyden</div>
        <p>Com o objetivo de ajudar com algumas disciplinas ofertadas no curso, trabalhei como monitor em disciplinas
          voltadas à programação, durante esse período o aluno interessado fazia o contato com o setor responsável no
          qual o mesmo alocava aulas extras para esses alunos com minha ministração.</p>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">Fevereiro 2016 - Dezembro 2017</span></div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="flex-grow-1">
        <h3 class="mb-0">Professor</h3>
        <div class="subheading mb-3">Infraero</div>
        <p>Responsável por duas turmas de informática básica, fiz o processo de inserção de crianças e adolescentes no
          mundo computacional, ensinando e guiando seus primeiros passos em uma jornada de 6 meses de aprendizagem.</p>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">Fevereiro 2017 - Dezembro 2017</span></div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="flex-grow-1">
        <h3 class="mb-0">Web Developer</h3>
        <div class="subheading mb-3">Gesso Integral</div>
        <p>Trabalhei em automatizações de processos, construíndo soluções para facilitar o fluxo de produção, gestão
          financeira e comercial. Fazendo
          manutenção em um ERP, e também na área fiscal com NFE, MDFE e
          CTE.</p>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">Dezembro 2016 - Novembro 2017</span></div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="flex-grow-1">
        <h3 class="mb-0">Mentor Acadêmico</h3>
        <div class="subheading mb-3">Facimp Wyden</div>
        <p>Período de mentor dos alunos calouros do curso de sistemas de informação através de um programa ofertado pela
          instituição na qual estou graduando, com enfoque em adaptar e ensinar através das minhas experiências
          acadêmicas os alunos recém chegados no curso, além de fazer o papel de ponte entre o setor responsável e o
          alunos.</p>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">Fevereiro 2016 - Dezembro 2017</span></div>
    </div>
  </div>
</section>
